/* ==== base styles ==== */
:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: 213, 19%;
  --very-dark-blue: hsl(216, 12%, 8%);

  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
main {
  height: 100%;
}

body {
  font-family: 'Overpass', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;

  background-color: var(--very-dark-blue);
}

body,
main {
  display: grid;
  place-items: center;
}

button {
  border: none;
  cursor: pointer;
}

/* ==== rating card ==== */
.rating-card {
  display: grid;
  width: min(38rem, 87.2%);
  height: 39rem;
  padding: 3.2rem;
  border-radius: 2.8rem;
  background-color: hsl(var(--dark-blue), 18%);
}

.rating-card--thank-you {
  text-align: center;
  justify-items: center;
  padding-block: 4.575rem;
}

.rating-card__image {
  margin-bottom: 2.8rem;
}

.rating-card__result {
  display: grid;
  place-items: center;
  background-color: hsl(var(--dark-blue), 22%);
  color: var(--orange);
  padding: 0.4rem 1.2rem;
  border-radius: 1.6rem;
  margin-bottom: 2.3rem;
  font-size: 1.4rem;
}

.rating-card__icon {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  background: url('../images/icon-star.svg') no-repeat center;
  background-color: hsl(var(--dark-blue), 22%);
  margin-bottom: 2.3rem;
}

.rating-card__title {
  font-size: 2.4rem;
  color: var(--white);
}

.rating-card__info {
  color: var(--medium-grey);
}

.rating-card__info:not(.rating-card--thank-you .rating-card__info) {
  margin-bottom: 2.3rem;
}

/* ==== rating bar ==== */
.rating-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.3rem;
}

.rating-bar__button {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  background-color: hsl(var(--dark-blue), 22%);
  color: var(--medium-grey);
}

.rating-bar__button:hover {
  background-color: var(--orange);
  color: var(--white);
}

/* ==== buttons ==== */
.button {
  font-weight: 700;
}

.button--active {
  background-color: var(--light-grey);
  color: var(--white);
}

.button--primary {
  width: 100%;
  height: 4.5rem;
  border-radius: 3.2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  background-color: var(--orange);
  color: var(--white);
}

.button--primary:hover {
  background-color: var(--white);
  color: var(--orange);
}

.button--close {
  display: grid;
  position: absolute;
  top: -1rem;
  right: -1rem;
  padding: 0.8rem;
  font-size: 1.6rem;
  border-radius: 50%;
  background-color: var(--orange);
  color: var(--white);
}

.button--close:hover {
  background-color: var(--very-dark-blue);
}

/* ==== modal ==== */
.modal-overlay {
  display: none;
  place-items: center;
  position: absolute;
  inset: 0;
  background-color: hsl(var(--dark-blue), 8%, 0.8);
  visibility: hidden;
  opacity: 0;
}

.modal-overlay--active {
  display: grid;
  visibility: visible;
  opacity: 1;
}

.modal {
  position: relative;
  padding: 3.2rem;
  border-radius: 2.8rem;
  background-color: var(--white);
  color: hsl(var(--dark-blue), 18%);
  font-size: 1.6rem;
  width: min(30rem, 87.2%);
  text-align: center;
}

/* ==== media queries ==== */
@media (min-width: 24em) {
  .rating-card__icon,
  .rating-bar__button {
    width: 4.8rem;
    height: 4.8rem;
  }
}
